.nav {
  overflow: hidden;

  .wrapper {
    display: flex;
    gap: 50px;
    margin-bottom: 80px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.body {
  margin-top: 40px;
  display: flex;
  a {
    text-decoration: none;
    text-transform: uppercase;
  }

  p {
    margin: 0px;
    display: flex;
    overflow: hidden;
    padding-right: 30px;
    padding-top: 10px;
    font-weight: 300;
  }
}

.footer {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 40px;

  ul {
    width: 50%;
    margin-top: 10px;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
  }

  li {
    span {
      color: #9f9689;
    }
  }
}

.imageContainer {
  display: none;
}


@media only screen and (max-width: 600px) {
  .nav{
      min-height: 100svh;
      .container{
        min-height: 100svh;
      }
  }

  .body{
    flex-direction: column;
    p {
      padding-top: 2rem;
      font-size: 2.5rem;
      height: 5rem;
    }
  
  }
}

@media only screen and (min-width: 1000px) {
  .nav {
    .wrapper {
      margin-bottom: 0px;
      justify-content: space-between;
    }
  }

  .body {
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 80px;
    p {
      height: 5rem;
      font-size: 4rem;
      padding-right: 2vw;
    }
  }

  .footer {
    justify-content: space-between;

    ul {
      width: auto;
    }
  }

  .imageContainer {
    display: block;
    width: 500px;
    height: 450px;
    position: relative;

    img {
      object-fit: cover;
    }
  }
}
